# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/xcode/

# Xcode
DerivedData/
xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# IDEs
.vscode/
.idea/

# Logs
*.log
